<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Tree/src/Binary_Tree/Test.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Binary_Tree.Test"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Tree"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tree"/>
</launchConfiguration>
